<!doctype html>
<html lang="en">

<head>
    <title>IP project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/main.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <%- include('partials/navbar', {page:"home"}); -%>
    <!--End of navbar-->
    <!---main-Image-->
    <section id="home" class="main" style="background-image:url('world.gif');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters main-text align-items-center">
                <div class="col-lg-7 col-md-6 d-flex align-items-end">
                    <div class="text">
                        <h1 class="mb-4 text-capitalize">Pause The<br>
                            Moment
                        </h1>
                        <p style="font-size:18px;">
                            “The journey of a thousand miles begins with a single step. Live life with no excuses,
                            travel with no regret”<br>
                            Work | Save | Travel | Repeat
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End of main-Image-->

    <!---Welcome section-->
    <section class="about-section mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <h2 class="text-black mb-2">Welcome To Pause The Moment</h2>
                    <p><i>“The world is a book and those who do not travel read only one page”</i></p>
                </div>
            </div>
            <div class="row img-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 margin-lg-0 col-lg-6 order-lg-2">
                            <a href="#" class="effect">
                                <img src="https://www.tripsavvy.com/thmb/cZaqHU49n4ORXE7irAXYzEb-h6c=/395x0/filters:no_upscale():max_bytes(150000):strip_icc():gifv()/india--goa--palolem-beach-535168027-d54c88a5e0044088aeae5175145e45cd.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1">
                            <h2 class="text-black">Goa</h2>
                            <p class="mb-4">
                                Goa is a state in western India with coastlines stretching along the Arabian Sea. 
                                Its long history as a Portuguese colony prior to 1961 is evident in its preserved 17th-century churches and the area’s tropical spice plantations. Goa is also known for its beaches, ranging from popular stretches at Baga and Palolem to those in laid-back fishing villages such as Agonda.



                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="row img-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 margin-lg-0 col-lg-6">
                            <a href="#" class="effect">
                                <img src="thailand.jfif" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 ml-auto align-self-center order-lg-1">
                            <h2 class="text-black">Sikkim</h2>
                            <p class="mb-4">
                                Sikkim is a state in northeast India, bordered by Bhutan, Tibet and Nepal. Part of the
                                Himalayas, the area has a dramatic landscape that includes India’s highest mountain,
                                8,586m Kangchenjunga.
                                Sikkim is also home to glaciers, alpine meadows and thousands of varieties of
                                wildflowers.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!------->
            <div class="row img-wrap mb-5 mb-lg-0">
                <div class="col-12">
                    <div class="row">
                        <div class="mb-4 margin-lg-0 col-lg-6 order-lg-2">
                            <a href="#" class="effect">
                                <img src="india.jfif" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1">
                            <h2 class="text-black">Dharamshala</h2>
                            <p class="mb-4">
                                Dharamshala is a city in the Indian state of Himachal Pradesh. Surrounded by cedar
                                forests on the edge of the Himalayas, this hillside city is home to the Dalai Lama and
                                the Tibetan government-in-exile.
                                The Thekchen Chöling Temple Complex is a spiritual center for Tibetan Buddhism, while
                                the Library of Tibetan Works and Archives houses thousands of precious manuscripts.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!------->
        </div>
    </section>
    <!------------->
    <!---Popular Places-->
    <section id="popular_places">
        <!-- Popular Places -->
        <div class="popular section-bg img-effect mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-title text-center">
                            <h1 class="text-white">Popular Places </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End of Popular Places-->
        <!-- Other Popular  -->
        <div class="all-image">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-md-5">
                        <div class="single-img">
                            <div class="img-thumb">
                                <img src="image1.jfif" alt="">
                            </div>
                            <div class="img-hover">
                                <div class="title">
                                    <h3>Wonders of World</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-md-7">
                        <div class="single-img">
                            <div class="img-thumb">
                                <img src="image2.jfif" alt="">
                            </div>

                            <div class="img-hover">
                                <div class="title">
                                    <h3>Temples</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="single-img radial">
                            <div class="img-thumb">
                                <img src="image3.jfif" alt="">
                            </div>
                            <div class="img-hover">
                                <div class="title">
                                    <h3>Historical</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">

                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    </section>
    <!--end of Popular Places-->
    <!---places Section-->
    <section id="services" class="services section-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-title">
                        <h2>Travelling you ask?</h2>
                        <p>
                            <i>Anyone asking a question like this to you must be kidding themselves or is planning a
                                trip without including you!!
                                If you’re feeling lonely maybe look at the fun you’re missing
                            </i>
                        </p>
                    </div>
                </div>
                <!----->
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="icon-circle purple">
                                <div class="icon">
                                    <i class="fas fa-drumstick-bite"></i>
                                </div>
                                <div class="bg">
                                    <h4 class="text-white">Good Food</h4>
                                    <p>Travel and Eat like locals <br>Food and drink provide lasting memories that
                                        define your holiday</p>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                            <div class="icon-circle pink">
                                <div class="icon">
                                    <i class="fas fa-umbrella-beach"></i>
                                </div>
                                <div class="bg1">
                                    <h4 class="text-white">Beach Resort</h4>
                                    <p>Breath the earthy and salty scents of the sea breeze</p>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div class="col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-circle yellow">
                                <div class="icon">
                                    <i class="fas fa-hiking"></i>
                                </div>
                                <div class="bg2">
                                    <h4 class="text-white">Mountain-climbing</h4>
                                    <p>Conquer the heights and Be the King of the ranges</p>
                                </div>
                            </div>
                        </div>
                        <!---->
                        <div class="col-md-6 d-flex align-items-stretch mt-4">
                            <div class="icon-circle blue">
                                <div class="icon">
                                    <i class="fas fa-mountain"></i>
                                </div>
                                <div class="bg3">
                                    <h4 class="text-white">Hot Air Balloon</h4>
                                    <p>Let's take the top view of the World and have a zoom out look</p>
                                </div>
                            </div>
                        </div>
                        <!---->


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---End of places Section-->
    <!--- Team Section-->
    <section id="about_us" class="team section-bg mt-5" style="padding-bottom: 5%;">
        <div class="container">
            <div class="section-title">
                <h2 class="text-center">Team</h2>
                <p class="text-center"><i>We are just a bunch of kids, ambitious and hardworking who are hoping to help
                        and spread the ideas and knowledge about places in the world that are worth viewing once in your
                        lifetime.
                        <br>Hoping to fan-out happiness by guiding with the reality!!<br>Pause the moment for the moment
                        may not pause for you, Cheers!</i>
                </p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="Palak.jpeg" class="img-fluid" alt="">


                        </div>
                        <div class="member-info">
                            <h4>Palak Agarwal</h4>
                            <span>Computer Science<br>Bachelor in Engineering</span>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="khushi.jpg" class="img-fluid" alt="">


                        </div>
                        <div class="member-info">
                            <h4>Khushi Bhoj</h4>
                            <span>Computer Science<br>Bachelor in Engineering</span>
                        </div>
                    </div>
                </div>
                <!---->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="amrita.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="member-info">
                            <h4>Amrita Gupta</h4>
                            <span>Computer Science<br>Bachelor in Engineering</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="bhavika.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="member-info">
                            <h4>Bhavika Gupta</h4>
                            <span>Computer Science<br>Bachelor in Engineering</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!---->

    <!---->




    <!---End of Team Section-->


    <!---End of Blog Section-->

    <!------>

</body>

</html>